/* Import the font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

html {
    /* Makes scrlling to anchor links animated */
    scroll-behavior: smooth;
}
body {
    /* Use the font from Google */
    font-family: 'Poppins', sans-serif;
}

h1, h2, h3, p, a, li {
    /* Make the text more readable */
    text-shadow: 1px 1px 1px #000;
}

/*
Helper classes:
Reusable classes to quickly style elements
*/
.center {text-align: center;}
.list-none li {list-style: none;}

/* General section styling */
section {
    /* Space out the sections */
    padding: 40px;
}
section h2 {
    /* Give all the sections a large header */
    text-align: center;
    font-size: 40px;
}

/* Navigation Bar */
nav {
    text-align: center;
    background: #0c75d0;
}
nav li {
    display: inline-block;
    /* Transition controls how long it takes to go from one style to another */
    transition: 0.3s;
}
nav li:hover {
    background: #095aa1;
}
nav li a {
    /* Make the links display right next to eachother in a line */
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
}

/* 
Hero section:
Show a nice large section to greet the user to the website.
The background is a gradiant that goes right to left.
*/
#hero {
    /* vh = viewport height e.g the size of the window */
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: linear-gradient(to left, #5b51f5, rgb(116 33 137));
    color: #fff;
}
#hero h1 {
    font-size: 60px;
}
#hero h1 .emily {
    /* CHange the colour of my name to make it stand out */
    color: #f33fab;
    text-transform: uppercase;
}
#hero h1 .flash{
    /* Add an animated flashing terminal cursor just like the inspiration website */
    animation: flash 1s infinite;
}
#hero p {
    font-size: 30px;
}
#hero p .underscore {
    color: #f33fab;
    /* Make the spacing of the "_" closer together to make it look larger */
    letter-spacing: -6px;
}
#hero div.image-container {
    /* Adjust the size of the image so its not so overpowering */
    height: 70%;
}
#hero div.image-container img {
    height: 100%;
    /* The borders gives the image an interesting shape */
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
}
#hero div.image-container img:hover {
    /* Add an animation to the image when you hover over it */
    animation: jiggle 1.5s infinite;
}
@keyframes jiggle{
    /* The animation sequence to make the image dance back and forth */
    0% {transform: rotate(0deg);}
    5% {transform: rotate(0deg);}
    20% {transform: rotate(5deg);}
    80% {transform: rotate(-5deg);}
    95% {transform: rotate(0deg);}
    100% {transform: rotate(0deg);}
}
@keyframes flash {
    /* Fade the terminal cursor in and out */
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}
@media screen and (max-width: 768px) {
    #hero {
        /* Change the direction of the flex container to run vertically on mobile */
        flex-direction: column;
    }
    #hero h1 {
        font-size: 40px;
    }
    #hero div.image-container {
        /* Reduce the image size on mobile */
        height: 50%;
    }
}

/* About section */
#About-Me{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    background: linear-gradient(to left, #cc37bd, #32b2cf);
}
#About-Me ul{
    padding: 10px 0;
}
#About-Me ul li {
    font-size: 20px;
}

@media screen and (max-width: 768px) {
    #About-Me {
        /* Change the direction of the flex container to run vertically on mobile */
        flex-direction: column;
    }
}

/* Skills section */
#Skills {
    color: #fff;
    background: linear-gradient(to left, #155393, rgb(231 11 152));
}
#Skills .lists{
    padding: 20px;
    display: flex;
    justify-content: space-around;
}
#Skills .lists li{
    padding: 10px;
    font-size: 20px;
    
}

/* Qualifications section */
#Qualifications{
    color: #fff;
    background: linear-gradient(to left,#31a786,#146899);
}
#Qualifications .articles{
    display: flex;
    text-align: center;
    justify-content: space-around;
}
#Qualifications article{
    /* Split the qualiications into 3 */
    width: 30%;
    padding: 20px 0;
}
#Qualifications article img{
    /* Make the black images white */
    filter: invert();
    padding: 10px;
    height: 40px;
}
@media screen and (max-width: 768px) {
    #Qualifications .articles {
        /* Change the direction of the flex container to run vertically on mobile */
        flex-direction: column;
    }
    #Qualifications article {
        /* Make the project links full width on mobile */
        width: 100%;
    } 
}

/* Projects section */
#Projects {
    color: #fff;
    background: linear-gradient(to left, #682195, #d432d6);
}
#Projects .article-container {
    display: flex;
    justify-content: space-around;
}
#Projects article:first-child{
    /* Make the first article bigger than the others */
    width: 150%;
}
#Projects article{
    color: #fff;
    width: 100%;
    margin: 20px;
    /* Added the same curvy theme from the main imgage to the articles */
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    /* Made the background stretch to the container */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: 0.3s;
    /* Hide the overflow of the .darken background */
    overflow: hidden;
}
#Projects article:hover {
    /* Make the article bigger when you hover over it */
    scale: 1.05;
}
#Projects article .darken{
    padding: 10px;
    padding-top: 40px;
    /* Made the background darker so the text stands out */
    background: rgba(0, 0, 0, 0.5);
    transition: 0.3s;
    height: 100%;
}
#Projects article .darken:hover{
    /* Make the background darker when you hover over the article */
    background: rgba(0, 0, 0, 0.7);
}
#Projects article h3{
    text-transform: uppercase;
}
#Projects article p{
    margin-bottom: 10px;
}
#Projects article a{
    /* Make the links look like buttons */
    color: #fff;
    text-decoration: none;
    display: inline-block;
    background: #0c75d0;
    padding: 10px 20px;
    border: none;
    /* Gave the buttons curvy corners */
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    transition: 0.3s;
}
#Projects article a:hover{
    /* Make the button darker on hover */
    background: #095aa1;
}
/* Custom backgrounds for each article */
#tutoriffic {
    background: url(images/tutoriffic.jpg);
}
#choice-cuts {
    background: url(images/choice%20cuts%20image.png);
}
#my-movie-search {
    background: url(images/mymoviesearch.gif);
}
#pre-work {
    background: url(images/code.jpg);
}
#homework1 {
    background: url(images/seo.jpg);
}
#portfolio {
    background: url(images/motivational.jpg);
}
@media screen and (max-width: 768px) {
    #Projects .article-container {
        /* Change the direction of the flex container to run vertically on mobile */
        flex-direction: column;
    }
    #Projects article{
        margin: 20px 0;
    }
    #Projects article:first-child{
        width: 100%;
    }
    #Projects article:first-child .darken{
        padding-top: 80px;
    }
}

/* Contact section */
#Contact {
    color: #fff;
    background: linear-gradient(to left, #5b51f5, #742189);
}
#Contact .contact-links {
    margin: 20px;
    display: flex;
    justify-content: space-around;
}
#Contact .contact-links a {
    /* Make the links look like buttons */
    display: flex;
    align-items: center;
    text-decoration: none;
    /* width: 30%; */
    color: #fff;
    background: #0c75d0;
    border-radius: 10px;
    transition: 0.3s;
}
#Contact .contact-links a:hover {
    /* Darken the button on hover */
    background: #095aa1;
}
#Contact .contact-links a span{
    padding-left: 10px;
    padding-right: 20px;
}
#Contact .contact-links a span::after{
    /* Added a little arrof after the button text */
    content: url(images/chevron-right.svg);
    width: 10px;
    height: 10px;
    display: inline-block;
    /* Make the black images white */
    filter: invert();
    padding-left: 40px;
    vertical-align: sub;
}
#Contact .contact-links a img{
    width: 40px;
    height: 40px;
    padding: 10px;
    /* Make the black images white */
    filter: invert();
}
@media screen and (max-width: 768px) {
    #Contact .contact-links {
        /* Change the direction of the flex container to run vertically on mobile */
        flex-direction: column;
    }
    #Contact .contact-links a {
        width: 100%;
        margin: 10px 0;
    }
}

/* Footer section */
footer {
    /* Match the style of the header */
    background: #0c75d0;
    color: #fff;
    padding: 20px;
}
